<div class="column is-half is-offset-one-quarter">
    <div class="box">
        <div class="content">
            <p class="title is-5">
                <%= source.url %>
                <%= button_to "Delete", source_path(source), method: :delete, class: "delete" %>
            </p>
        </div>
    </div>
</div>
