<p>
    <p class="title is-5">Summary</p>
    <p class="content is-6"><%= summary.summary %></p>

    <p class="title is-5">Principal Facts</p>
    <ul>

        <% summary.principal_facts.each do |fact| %>
            <li><%= fact %></li>
        <% end %>
    </ul>
</p>
