<% if source.errors.any? %>
  <div class="notification is-danger">
    <ul>
      <% source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
