<div class="column is-half is-offset-one-quarter">
    <div class="box">
        <div class="level">
            <div class="">
                <p class="title is-5">
                    <%= source.name %>
                </p>
                <p class="subtitle is-5">
                    <%= source.url %>
                </p>
            </div>
            <%= button_to "", source_path(source), method: :delete, class: "delete" %>
        </div>
    </div>
</div>
