<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">Nova fonte</h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <%= link_to 'Voltar' , sources_path, class: 'button is-light' %>
                </div>
            </div>
        </div>
        <hr>

        <%= render 'form' , source: @source %>
    </div>
</section>
